<h1>Applications</h1>

<p id="notice"><%= notice %></p>

<% @applications.each do |app| %>
    <div>
        <%= image_tag app.thumbnail unless app.thumbnail.nil? %>
        <h3><%= app.title %></h3>
        <h4><%= app.subtitle %></h4>
    </div>
<% end %>